# completely hide any Doxygen output, LaTeX sources, and .tex files
doxygen/** linguist-vendored
latex/**    linguist-vendored
*.tex       linguist-vendored

# hide Makefile and QMake .pro from language stats
Makefile       linguist-vendored
*.pro          linguist-vendored
